body{
    width: 100%;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80vh 20vh;
    grid-template-areas: 
        "header main"
        "header footer"
        ;
}


#header{
    grid-area: header;
    
    color: #fff;
    background-color: #5f5f5f;
}

#main{
    grid-area: main;
}

#footer{
    grid-area: footer;
    
    border-top: 1px solid #5f5f5f;
}

.tet_center{
    text-align: center;
}


